.parent {
    display: flex;
    flex-direction: column;
    /* height: 250px;
    width: 250px; */
    background-color: aqua;
    padding: 10px;
}

.top {
    display: flex;
    justify-content: space-evenly;
}


#image {
    height: 70px;
    width: 70px;
}


.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}